@charset "utf-8";
/* CSS Document */


@media all and (min-width: 1024px) and (max-width: 1145px) {
	
	.windows {
		position:absolute;
		display:block;
		margin:0% 48.75%;
		margin-top:12.5px;
		margin-bottom:12.5px;
	}
	
	#main-table {
		width: 100%;
		position:relative;
		display: block;
		
	}
	
	#main-table .section1, #main-table .section2, #main-table .section3 {
		width:100%;
		position: relative;
		display: block;
	}
	
	#main-table .section1 td:nth-child(7), #main-table .section2 td:nth-child(7) {
		width:17.5%;
		margin-top:10px;
	}
	
	#main-table .section1 td:nth-child(7) p, #main-table .section2 td:nth-child(7) p {
		width:35%;
	}
	
}

@media all and (min-width: 950px) and (max-width: 1024px) {
	
	.windows {
		position:absolute;
		display:block;
		margin:0% 48.75%;
		margin-top:12.5px;
		margin-bottom:12.5px;
	}
	
	#main-table {
		width: 100%;
		position:relative;
		display: block;
		
	}
	
	#main-table .section1, #main-table .section2, #main-table .section3 {
		width:100%;
		position: relative;
		display: block;
	}
	
	#main-table .section1 td:nth-child(7), #main-table .section2 td:nth-child(7) {
		width:17.5%;
		margin-top:10px;
	}
	
	#main-table .section1 td:nth-child(7) p, #main-table .section2 td:nth-child(7) p {
		width:35%;
	}
	
	
}

/* IPAD */
@media all and (min-width: 768px) and (max-width: 950px) {
	
	.windows {
		position:absolute;
		display:block;
		margin:0% 48.75%;
		margin-top:12.5px;
		margin-bottom:12.5px;
	}
	
	#main-table {
		width: 100%;
		position:relative;
		display: block;
		
	}
	
	#main-table .section1, #main-table .section2, #main-table .section3 {
		width:100%;
		position: relative;
		display: block;
	}
	
	#main-table .section1 td:nth-child(7), #main-table .section2 td:nth-child(7) {
		width:20%;
		margin-top:10px;
		margin-left:auto;
		margin-right:auto;
	}
	
	
}

@media all and (min-width: 575px) and (max-width: 768px) { 
	
	.windows {
		position:absolute;
		display:block;
		margin:0% 48.75%;
		margin-top:12.5px;
		margin-bottom:12.5px;
	}
	
	#main-table {
		width: 100%;
		position:relative;
		display: block;
		
	}
	
	#main-table .section1, #main-table .section2, #main-table .section3 {
		width:100%;
		position: relative;
		display: block;
	}
	
	
	
}


@media all and (min-width: 414px) and (max-width: 575px) { 
	
	.windows {
		position:absolute;
		display:block;
		margin:0% 48.75%;
		margin-top:12.5px;
		margin-bottom:12.5px;
	}
	
	#main-table {
		width: 100%;
		position:relative;
		display: block;
		
	}
	
	#main-table .section1, #main-table .section2, #main-table .section3 {
		width:100%;
		position: relative;
		display: block;
	}
	
	#main-table .section1 td, #main-table .section2 td {
		width:25%;
		height:50px;
		float:left;
	}
	
	#main-table .section1 td:nth-child(5), #main-table .section1 td:nth-child(6), #main-table .section1 td:nth-child(7), #main-table .section2 td:nth-child(5), #main-table .section2 td:nth-child(6), #main-table .section2 td:nth-child(7) {
		width:33.3%;
		height:50px;
		float:left;
	}
	
	#main-table .section1 td p, #main-table .section2 td p {
		width:100%;
		height:100%;
		position:relative;
		display: block;
		line-height:50px;
	}
	
	#main-table .section3 td p {
		height:35px;
		line-height:50px;
		text-align:center;
		text-indent:0;
	}
	
	#main-table .section1 td:nth-child(7) p, #main-table .section2 td:nth-child(7) p  {
		width:40%;
		margin:0;
		position:relative;
		display:inline-block;
	}
	
	.section1 .male, .section1 .camera, .section2 .female, .section2 .camera {
		position:relative;
		display:block;
		top:10px;
	}
	
	.section1 .female, .section2 .male {
		width:25%;
		position:relative;
		display:block;
		margin:10px 0px;
		margin-left:2.5px;
	}
	
	
}




@media all and (min-width: 360px) and (max-width: 414px) { 
	
	.windows {
		position:absolute;
		display:block;
		margin:0% 48.75%;
		margin-top:12.5px;
		margin-bottom:12.5px;
	}
	
	#main-table {
		width: 100%;
		position:relative;
		display: block;
		
	}
	
	#main-table .section1, #main-table .section2, #main-table .section3 {
		width:100%;
		position: relative;
		display: block;
	}
	
	#main-table .section1 td, #main-table .section2 td {
		width:33.3%;
		height:50px;
		position:relative;
		display: block;
		float:left;
	
	}
	
	#main-table .section1 td:nth-child(1), #main-table .section1 td:nth-child(2), #main-table .section1 td:nth-child(6), #main-table .section1 td:nth-child(7), #main-table .section2 td:nth-child(1), #main-table .section2 td:nth-child(2), #main-table .section2 td:nth-child(6), #main-table .section2 td:nth-child(7) {
		width:50%;
		position:relative;
		display: block;
	}
	
	#main-table .section3 td {
		width:50%;
		height:85px;
		position:relative;
		display: block;
		float:left;
	}
	
	#main-table .section3 td:nth-child(1) {
		width:100%;
	}
	
	#main-table .section1 td p, #main-table .section2 td p {
		width:100%;
		height:100%;
		position:relative;
		display: block;
		line-height:50px;
	}
	
	#main-table .section3 td p {
		height:35px;
		line-height:50px;
		text-align:center;
		text-indent:0;
	}
	
	#main-table .section1 td:nth-child(7) p, #main-table .section2 td:nth-child(7) p  {
		width:60%;
		margin:0;
		position:relative;
		display:inline-block;
	}
	
	.section1 .male, .section1 .camera, .section2 .female, .section2 .camera {
		position:relative;
		display:block;
		top:10px;
	}
	
}





/* Smaller Screens */
@media all and (min-width: 320px) and (max-width: 360px) {
	
	.windows {
		position:absolute;
		display:block;
		margin:0% 48.75%;
		margin-top:12.5px;
		margin-bottom:12.5px;
	}
	
	#main-table {
		width: 100%;
		position:relative;
		display: block;
		
	}
	
	#main-table thead h1 {
		font-size:1.1em;
		margin:17.5px -5px;
	}
	
	#main-table .section1, #main-table .section2, #main-table .section3 {
		width:100%;
		position: relative;
		display: block;
		overflow:none;
	}
	
	#main-table .section1 td, #main-table .section2 td {
		width:100%;
		height:50px;
		position: relative;
		display:block;
	}
	
	
	#main-table .section1 td p, #main-table .section2 td p {
		width:100%;
		height:100%;
		position:relative;
		display: block;
		line-height:50px;
	}
	
	#main-table .section1 td:nth-child(7) p, #main-table .section2 td:nth-child(7) p {
		width:55%;
		margin:0;
		position: relative;
		display:inline-block;
	}
	
	#main-table .section3 td {
		width:100%;
		height:85px;
		position: relative;
		display: block;
	}
	
	#main-table .section3 td:nth-child(4) {
		height:85px;
		position:relative;
		display: block;
		line-height:50px;
	}
	
	#main-table .section3 td p {
		height:37.5px;
		position:relative;
		display: block;
		line-height:50px;
	}
		
	#main-table .section3 td:nth-child(1) p {
		width:50%;
	}
		
	#main-table .section3 td:nth-child(4) p {
		height:42.5px;
		text-align:center;
		text-indent:0;
		line-height:42.5px;
	}
	
	#main-table .section3 td:nth-child(5) p {
		text-align: center;
		text-indent:0;
		margin:0;
	}
	
	.section1 tr, .section2 tr, .section3 tr {
		width:100%;
		height:100%;
		position: relative;
		display:inline-table;
		border-bottom-width:1.75px;
		border-bottom-style:solid;
		border-bottom-color:blue;
		
	}
	
	.section1 .male, .section1 .camera, .section2 .female, .section2 .camera {
		position:relative;
		display:block;
		top:10px;
	}
	
	.section3 .camera {
		width:25px;
		height:25px;
		position:relative;
		display:block;
		top:0px;
		margin-left:auto;
		margin-right: auto;
	}
	
	.triangle {
		width:5%;
		position:relative;
		display: block;
		border-top:25px solid transparent;
		border-left:45px solid #fff;
		border-bottom:25px solid transparent;
		z-index:2;
	}
	
	.section1 .female, .section2 .male {
		width:25%;
		position: relative;
		display:block;
		margin:10px 0px;
	}
	
	.section3 .male, .section3 .female {
		top:15px;
	}
	
	.section3 td:nth-child(4) span {
		width:33.3%;
		margin-left:auto;
		margin-right:auto;
		margin-top:1.25px;
		margin-bottom:0;
	}
	

}
