@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}

html, body {
  	width: 100%;
	height: 100%;
	-ms-overflow-style: none;
	-moz-overflow-style:none;
	
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
	display:none;
	-ms-overflow-style:none;
	-moz-overflow-style:none;
}

#main-table {
	width:100%;
	height:100%;
	position: relative;
	display:inline-table;
	border-collapse:collapse;
	background-color:#3a1c4a;
	overflow: hidden;
   
}

thead {
	height:50px;
	background-color:#3a1c4a;
	/*background-color:#5C246E;*/
}

thead h1 {
	font-size:1.3em;
	font-family:'Roboto', sans-serif;
	font-weight:700;
	text-align:left;
	float:left;
	clear: right;
	color:#fff;
	margin:15px 0px;
}


.apple {
	width:25px;
	height:25px;
	position: relative;
	display:inline-block;
	margin:12.5px;
	float:left;	
}

.windows {
	width:25px;
	height:25px;
	position:relative;
	display:block;
	margin:0% 49%;
	margin-top:12.5px;
	margin-bottom:12.5px;
}

.total-count {
	width:35px;
	height:35px;
	position:absolute;
	display:inline-block;
	margin:10px 15px;
	top:0;
	right:0;
	border-width:1px;
	border-style:solid;
	border-radius: 50%;
	background-color:#fff;
}

.total-count p {
	width:35px;
	height:35px;
	font-size:1.1em;
	font-family:'Roboto', sans-serif;
	font-weight:300;
	line-height:35px;
	top:0;
	bottom:0;
	color:#000;
}

.section1 {
	width:48.5%;
	max-height:50.75vh;
	position:relative;
	display:inline-block;
	margin:0% 0.75%;
	float:left;
	clear:both;
	overflow-y:scroll;
	-ms-overflow-style:none;
	-moz-overflow-style:none;
}

.section2 {
	width:48.5%;
	max-height:50.75vh;
	position:relative;
	display:inline-block;
	margin:0% 0.75%;
	float:left;
	clear:both;
	margin-top:0.75%;
	margin-bottom:0.75%;
	overflow-y:scroll;
	-ms-overflow-style:none;
	-moz-overflow-style:none;
}

.section3 {
	width:49.25%;		
	max-height:103vh;
	position:relative;
	display:inline-block;
	margin-right:0.75%;
	margin-bottom:0.75%;
	overflow-y:scroll;
	-ms-overflow-style:none;
	-moz-overflow-style:none;
	
}

.section3 span {
	width:35px;
	display:inline-block;
	margin:5px 15px;
   	border-top:3px solid #fff;
}


.section1 th, .section2 th {
	width:100%;
	height:40px;
	font-size:1.1em;
	font-family:'Roboto', sans-serif;
	font-weight:600;
	text-align:left;
	text-indent:15px;
	/*background-color:#5E2D79;*/
	background-color:#5E2B6C;
	color:#fff;
}

.section3 th {
	width:100%;
	height:60px;
	font-size:1.1em;
	font-family:'Roboto', sans-serif;
	font-weight:600;
	text-align:left;
	text-indent:15px;
	background-color:#5E2B6C;
	color:#fff;
}

.section1 th p:nth-child(1), .section2 th p:nth-child(1) {
	width:40%;
	float:left;
}


.section1 th p:nth-child(2), .section2 th p:nth-child(2) {
	width:40%;
	float:right;
	text-align:right;
	margin-right:10px;
}

.section3-sub {
	width:100%;
}


.section3-count {
	width:40%;
	float:right;
	display: block;
	text-align:right;
	margin-right:10px;
}

.section1 .row, .section2 .row, .section1 tr, .section2 tr {
	width:100%;
	height:40px;
	position: relative;
	display:inline-table;
	background-color:#fff;
}

.section3 .row, .section3 tr {
	width:100%;
	height:80px;
	position: relative;
	display:inline-table;
	background-color:#fff;
}

.section1 td, .section2 td, .section3 td {
	position: relative;
	border-bottom-width:0.5px;
	border-bottom-style:solid;
	border-bottom-color:lightgray;
}

.section1 td:nth-child(1), .section1 td:nth-child(4), .section2 td:nth-child(1), .section2 td:nth-child(4) {
	width:12.75%;
}


.section1 td:nth-child(2), .section1 td:nth-child(6), .section2 td:nth-child(2), .section2 td:nth-child(6) {
	width:17.5%;
}

.section1 td:nth-child(3), .section1 td:nth-child(5), .section2 td:nth-child(3), .section2 td:nth-child(5) {
	width:7.33%;
}


.section1 td:nth-child(7), .section2 td:nth-child(7) {
	width:24.5%;
	background-color:rgba(128,128,128, 0.1);
	
}

.section3 td:nth-child(1) {
	width:30%;
}


.section3 td:nth-child(2), .section3 td:nth-child(3) {
	width:20%;
}

.section3 td:nth-child(n+4) {
	width:15%;
}


.section1 td:nth-child(1) p, .section2 td:nth-child(1) p {
	font-size:1.2em;
	font-family:'Roboto', sans-serif;
	font-weight:600;
	text-align:center;
}

.section3 td:nth-child(1) p:nth-child(1) {
	width:50%;
	position: relative;
	display:block;
	float:left;
	clear: both;
	font-size:1.2em;
	font-family:'Roboto', sans-serif;
	font-weight:600;
	text-align:left;
	text-indent:15px;
}

.section3 td:nth-child(1) p:nth-child(2) {
	width:50%;
	position:relative;
	display:block;
	float:right;
}


.section3 td:nth-child(1) p:nth-child(3) {
	width:50%;
	position: relative;
	display:block;
	float:left;
	clear: both;
	font-size:1em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	text-align:left;
	text-indent:15px;
}

.section3 td:nth-child(4) {
	font-size:0.9em;
	font-family:'Roboto', sans-serif;
	font-weight:200;
	text-align:left;
	color:rgba(128,128,128, 0.8);
	text-indent:25%;
}

.section3 td:nth-child(4) span {
	width:65%;
	display:block;
   	border-top:2px solid rgba(128,128,128, 0.3);
	margin-left:25%;
	margin-right:auto;
}


.section3 td:nth-child(5) p {
	font-size:1em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	text-align: right;
	margin-right:15px;
}


.section1 td:nth-child(2) p, .section2 td:nth-child(2) p, .section3 td:nth-child(1) p:nth-child(2) {
	font-size:0.9em;
	font-family:'Roboto', sans-serif;
	font-weight:200;
	text-align:center;
	color:rgba(128,128,128, 0.8);
}

.section1 td:nth-child(4) p, .section1 td:nth-child(6) p, .section2 td:nth-child(4) p, .section2 td:nth-child(6) p, .section3 td:nth-child(2), .section3 td:nth-child(3) {
	font-size:1em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	text-align:center;
}

.section1 td:nth-child(7) p, .section2 td:nth-child(7) p {
	font-size:1em;
	font-family:'Roboto', sans-serif;
	font-weight:500;
	text-align:left;
	text-indent:5px;
	margin:15px 0px;
	margin-left:7.5px;
	float: left;
}

.section1 .male, .section3 .male {
	width:30px;
	height:30px;
	display:block;
	position:relative;
	margin-right:auto;
	margin-left:auto;
}


.section1 .camera, .section2 .camera {
	width:25px;
	display:block;
	margin-right: auto;
	margin-left: auto;
}

.section3 .camera {
	width:20px;
	display:block;
	margin-left: auto;
	margin-right:15px;
	margin-top:10px;
}

.triangle {
	width: 0;
    height: 0;
	display:block;
	float:left;
    border-top:25px solid transparent;
    border-left:25px solid #fff;
    border-bottom:25px solid transparent;
	z-index:2;
}

.section1 .female, .section2 .male {
	width:30px;
	height:30px;
	position:relative;
	display:inline-block;
	float:left;
	margin:10px 0px;
	margin-left:17.5px;
	
}


.section2 .female, .section3 .female {
	width:30px;
	height:30px;
	position:relative;
	display:block;
	margin-right:auto;
	margin-left:auto;
}


